body {
  font-family: "Libre Franklin", sans-serif;
}

#footer_rule {
  clear: both;
}

#logo {
  width: 42px;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  float: left;
  margin: auto;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img[src*='#left'] {
  float: left;
  width: 25%;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
img[src*='#right'] {
  float: right;
  width: 25%;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
img[src*='#center'] {
  display: block;
  margin: auto;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
